@import url('https://fonts.googleapis.com/css?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=News+Cycle&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}
.material-icons {
    font-size: 2.4em;
    cursor: pointer;
}
.card {
    width: 300px;
}
.card .card-image .card-title {
    color: black;
    font-weight: 400
}
.cart {
    margin-top:40px;
  }

.collection {
  border: 3px solid #6350ff21;
  padding: 1rem;
  border-radius: 10px;
}

.collection .collection-item {
    list-style: none;
}

.collection-item.avatar .title {
    font-size: 20px;
    font-weight: 500;
    color: #ee6e73;
    display: block;
    margin-bottom: 20px;
}

.category-title:hover {
  color: white;
  font-size: 1.7rem;
}

.item-desc {
    align-self:center;
}

.category-select:hover {
  text-decoration: none;

}

.test-hover:hover {
  box-shadow: 2px 2px 2px coral;
  transition: .3s ease;
  border: 1px solid #00000026;
  border-radius: .25rem !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}


.success {
  text-align: center;

  h2 {
    color: seagreen;
  }

  a {
    display: block;
  }
}

.checkout-form {
  width: 400px;
  padding: 2em;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15);

  p {
    text-align: center;
  }

  label {
    min-width: 500px;
    color: #6b7c93;
    font-weight: 300;
    letter-spacing: 0.025em;
  }

  input,
  .StripeElement {
    display: block;
    margin: 10px 0 20px 0;
    padding: 10px 14px;
    font-size: 1em;
    font-family: 'Source Code Pro', monospace;
    box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
      rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    background: white;

    &::placeholder {
      color: #aab7c4;
    }

    &:focus,
    .StripeElement--focus {
      box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
        rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
      -webkit-transition: all 150ms ease;
      transition: all 150ms ease;
    }
  }

  .order-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-decoration: none;
    margin-top: 5%;
    background-color: #008cdd;
    border: 1px solid #008cdd;
    font-size: 1em;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 0.5em 1em;
    width: 200px;
    transition: opacity 200ms;
    cursor: pointer;

    &.success {
      background-color: seagreen;
      border-color: seagreen;
    }

    &:hover {
      opacity: 0.8;
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  a {
    display: block;
    text-align: center;
    margin-top: 1em;
  }
}

.test {
font-family: 'Yeseva One', cursive;
}

.test a {
  color: black;
  padding: .4rem;
  font-size: 1.2rem;
}

.test a:hover {
  color: black;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.3rem;
  transition: .2s ease;
}

.item-description-format {
  font-family: 'News Cycle', sans-serif;
  font-size: 1.1rem;
}


.item-view-hover:hover {
  display: block !important;
}

.card {
  border-radius: 1rem !important;
}

hr {
  background: #6350ff21 !important;
}

@media only screen and (max-width: 700px) {
  .item-view-info {
    display: none;
  }
  .item-view-title {
    display: none !important;
  }
  .icon-toggle {
    display: none !important;
  }

  .item-view-links-toggle {
    margin-top: 2rem;
  }

  .item-view-info-2 {
    margin-bottom: 2rem;
  }

  .toggle-margin {
    margin-top: 1rem !important;
  }

  .footer-logo-toggle {
    display: none !important;
  }
}

@media only screen and (min-width: 700px) {
  .item-view-info-2 {
    display: none;
  }
  .item-view-title {
    display: flex !important;
  }

  .item-view-links-toggle {
    display: none !important;
  }

  .icon-toggle {
    display: flex !important
  }

}

@media only screen and (max-width: 400px) {
  .cat-row {
    flex-direction: column !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 700px) {
  .cat-row {
    flex-direction: column !important;
    width: 75% !important;
  }
}

@media only screen and (max-width: 900px) {
  .cat-row {
    flex-direction: column !important;
    width: 60% !important;
  }
}

.footer-control {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.shop-header-container {
  margin-top: .5rem;
  display: flex;
  justify-content: center;
}

.shop-header {
  border-radius: 15px;
  box-shadow: 8px 11px 16px beige;
  padding-bottom: .5rem !important;
  width: 50%;
  margin-top: 1rem;
}

.lightbox-flex div {
  display: flex;
}

.cursor-toggle:hover {
 cursor: pointer;
}

.navbar-font {
  font-family: Noto Sans;
  font-size: 18px;
}

.item-view-links-font {
  font-family: Noto Sans;
  font-weight: bold;
}

.add-font {
  font-family: Noto Sans;
}

.category-header {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  color: black;
  font-size: 30px;
  transform: translate(-50%, -50%);
  font-family: Noto Sans;
  font-weight: bold;
  white-space: nowrap;

}

.item-view-links:hover {
  font-weight: normal !important;
}
/* add less margin for shop item on hover / create own class */
